/* header related styles */
.header{
    background-color: lightsalmon;
    background-image: none;
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding:30ox 30px 30px 150px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    background-color: #FFF8F3;
    background-image: none;
    background-size: cover;
}
.banner-content{
    max-width: 500;

}
.banner-title{
    font-size: 85px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner .profile-pic{
    width: 400
    height: 500;

}
.button{
    padding: 20px 35px;
    border-radius: 5px;
    border: o;
    background: deeppink;
    font-size: 20px;
    font-weight: 700;

}
/* main section styles */
.featured{
    background-image: none;
    text-align: center;
    padding: 130px;
    border-radius: 10px;
    background-image: #;
    max-width: 1140px;
    margin:130 
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* banner-images*/
.banner-images{
    display: flex;
    gap:15px;
    text-align: center;
    border-radius: 5px;
    background: #FFF8F3;
}
.banner-description{
    text-align: center;
    display: flex;
}

.pictures-title{
    display:inline-flex;
    gap:5px;
    text-align: center;
    border-radius: 5px;
    background: #757575;

}
.image-description{
    text-align: center;
    display: inline-flex;
}
.deals-pic{
    width: 400;
    height: 500;
    display:inline-flex;
    justify-content: space-between;


.button{
    padding: 20px 35px;
    border-radius: 5px;
    border: o;
    background: deeppink;
    color:white;
    font-size: 20px;
    font-weight: 700;
}
.deals{ 
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    max-width: 1140px;
    margin:130 
}
.hot-deals{
    text-align: center;
    color: #181818;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.deals-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.pictures1{
    display:inline-flex;
    gap:5px;
    text-align: center;
    border-radius: 5px;
    background: #757575;

}
.pictures1{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    max-width: 1140px;
    margin:130 
}
.banner1{
    display: flex;
    background-color: #FFF8F3;
    background-image: url('../images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position:bottom right ;

}
/* footer */
footer{
    text-align: center;
    background-color:black;
    color: #FFF8F3;
}