/* header related styles */
.header{
    padding: ;
    margin: 80px;
    background-color: lightsalmon;
    background-image: none;
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding:30ox 30px 30px 150px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF8F3;
    background-image: none;
    background-size: cover;
}
.banner-content{
    max-width: 500;

}
.banner-title{
    font-size: 85px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner .profile-pic{
    width: 400
    height: 500;

}
.button{
    padding: 20px 35px;
    border-radius: 5px;
    border: o;
    background: deeppink;
    font-size: 20px;
    font-weight: 700;

}
/* main section styles */
.featured{
    background-image: none;
    text-align: center;
    padding: 130px;
    border-radius: 10px;
    background-image: #;
    max-width: 1140px;
    margin:130 
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* 3images*/
.flower{
    padding:0 100px 50px 100px;
    margin:50px;
    display: flex;
    gap:15px;
    text-align: center;
    border-radius: 5px;
    text-align: centre;
    background:rgba(255,255,255.0.90);
    text-decoration: underline;
}

.pink-flower1{
    height:400px;
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    background:rgba(255,255,255.0.90)
}
.pink-flower2{
    height:400px;
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    background:rgba(255,255,255.0.90)
}.pink-flower3{
    height:400px;
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    background:rgba(255,255,255.0.90)
}
.flower-description{
    text-align: center;
    display: flex;
}
.pictures{
    padding:px;
    margin:100px;
    display: flex;
    gap:15px;
    text-align: center;
    border-radius: 5px;
    text-align: centre;
    background: #FFF8F3;

}

.pictures-title{
    display:flex;
    gap:5px;
    text-align: center;
    border-radius: 5px;
    background: #757575;

}
.image-description{
    text-align: center;
    display: inline-flex;
}
.button{
    padding: 20px 35px;
    border-radius: 5px;
    border: o;
    background: deeppink;
    color:white;
    font-size: 20px;
    font-weight: 700;
}
.deals-sale{ 
    padding: 20px;
    border-radius: 10px;
    background-position: bottom right;
    background-size: cover;
    background: #FFF8F3;
    max-width: 1140px;
    margin:130 ;
    text-align: center;
    justify-content: space-between;
}
.hot-deals{
    text-align: center;
    color: #181818;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.deals-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.button{
    padding: 20px 35px;
    border-radius: 5px;
    border: o;
    background: deeppink;
    font-size: 20px;
    font-weight: 700;

}
.deals-pic{
    text-align: center;
    display: flex;
}
.about{
        padding: 20px;
        border-radius: 10px;
        background-position: bottom right;
        background-size: cover;
        background: #FFF8F3;
        max-width: 1140px;
        margin:130 ;
        text-align: center;
        justify-content: space-between;
}
.pictures1{
    display: flex;
    gap:15px;
    text-align: center;
    border-radius: 5px;
    text-align: centre;
    background: #FFF8F3;

}

.pictures-title{
    display:flex;
    gap:5px;
    text-align: center;
    border-radius: 5px;
    background: #757575;

}           
            
.banner1-title{
    margin:40px;
    display: flex;
    background-image:url('../images/Rectangle/9.png');
    justify-content: space-between;


}

/* footer */
footer{
    padding:40px;
    margin:40px;
    color: rgba(255,255,255.0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    background-color:black;
    color: #FFF8F3;
}